.sans {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  font-style: italic;
  text-align: left;
}
.cherk {
  font-family: 'Times New Roman', Times, serif;
  text-decoration: line-through 2px;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}
.cups {
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  font-weight: 500;
  font-style: normal;
}
.slovo {
  word-spacing: 30px;
  text-decoration: overline wavy;
  font-weight: 500;
  color: #4a2270;
  text-shadow: 2px 2px 5px #2b0f44;
}
.bukva {
  letter-spacing: 5px;
  font-weight: 600;
  text-decoration: underline double 3px;
}
div.moi {
  font-family: "Unbounded", Verdana, sans-serif;
  text-align: justify;
  line-height: 30px;
  text-decoration: overline dotted #00ffff;
}