body {
  font-family:  sans-serif;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td, th, caption {
  border: 1px solid #000000;
}
caption {
  border-bottom: none;
  font-weight: 600;
}
.red {
  color: #ff0000;
}