.parent {
  background: #e1d2ee;
  margin: 20px;
  border: 1px solid #000000;
  border-radius: 20px 0 0 20px;
  overflow: auto;
  width: 1600px;
  height: 800px;
}
.child {
  background: #af9b75;
  display: inline-block;
  font-size: 20px;
  width: 300px;
  height: 250px;
  margin: 15px 15px 16px 7px;
  padding: 30px 20px 10px;
  border: 1px solid #000000;
  border-radius: 25px;
  box-shadow: inset 1px 1px 10px #000000;
}